name: Workflow deploiement du site web
on:
  push:
    branches:
    - master
    path:
    - Web/*

jobs:
  build-and-deploy:
    name: Deploiement dans Azure
    runs-on: ubuntu-latest
    steps:
    - name: Git - Get Sources
      uses: actions/checkout@master

    - name: Run playbook
      uses: dawidd6/action-ansible-playbook@v2
      with:
        playbook: main.yml
        directory: ./Ansible
        key: {{ secrets.SSH_PRIVATE_KEY }}
        inventory: |
          [all]
          workshopdevopspierrc.eastus2.cloudapp.azure.com              